{%load staticfiles%}
<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Guilherme Fotografia</title>
        <link as=style href="{%static '/css/app.3c93089e.css'%}" rel=preload>
        <link as=script href="{%static '/js/app.f6704fcb.js'%}" rel=preload>
        <link as=script href="{%static '/js/chunk-vendors.e7a3a1b1.js'%}" rel=preload>
        <link href="{%static '/css/app.3c93089e.css'%}" rel=stylesheet>
    </head>
    <body>
        <noscript>
        <strong>We're sorry but guilhermefotografia doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app">
        </div>
        <script src="{%static '/js/chunk-vendors.e7a3a1b1.js'%}">
        </script>
        <script src="{%static '/js/app.f6704fcb.js'%}">
        </script>

    </body>
<html>
